body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66bf7b;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66bf7b;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #437850;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #94bd8f 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #0a3d15;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bf7b;
  padding: 50px 0 20px;
}

.left-row, .right-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.left-row {
  text-align: left;
}

.right-row {
  text-align: right;
}

.skill-row {
  width: 50%;
  margin: 90px auto 100px auto;
  text-align: center;
}

.intro {
  width: 30%;
  margin: auto;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.77rem;
  padding: 20px 0;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.sicredi-img {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.int-img {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(237, 232, 232);
}

.btn:hover {
  background-color: #3e8e41
}
